<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  <body>
  </head><h1>Collective Mind-System of Suchness Overview</h1>
  <h2>Learning to Listen to Code Insights</h2>
    <table class="table table-hover">
      <tr>
        <th><h3>The BodiCode</h3></th>
        <th><h3>The Ultimate eLearning System</h3></th>
        <th><h3><i>Machine Learning Essentials</i></h3></th>
        <th><h3>Web Development</h3></th>
      </tr>
    </table>
    <table class="table table-hover">
      <tr>
        <th><h2>Virtual Reality Development</h2></th>
        <th><h2>The Mind Illuminated</h2></th>
        <th><h2>Dream Yoga</h2></th>
        <th><h2>Conscious Systems</h2></th>
        <th><h2>Network Science</h2></th>
      </tr>
    </table>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  <body>
  </body>
</html>
